:root {
    --red-dark: #791B21;
    --color-accent: #E6DBA7;
    --primary-color: #29253E;
    --purple-dark: #09131F;
    --padding-side-section: 20rem;
    --height-canvas: 28rem;
    --white: #fff;
}

/*Import Font*/
@font-face {
    font-family: 'Arima Madurai';
    src: url('../font/Arima_Madurai/ArimaMadurai-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Arima Madurai';
    src: url('../font/Arima_Madurai/ArimaMadurai-Bold.ttf') format('truetype');
    font-weight: bold;
}

*, ::after, ::before { box-sizing: border-box; }

html, body {
    font-family: 'Arima Madurai', Helvetica, cursive;
    line-height: 2;
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    color: var(--purple-dark);
    background-color: var(--white);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    margin-bottom: .5rem;
    font-weight: bold;
    line-height: 1.2;
}

h1 { font-size: 2.5rem; }

h2 { font-size: 2rem; }

h4 { font-size: 1.5rem; }

img {
    vertical-align: middle;
    border-style: none;
}

.text-white { color: var(--white); }

.text-center { text-align: center; }

.text-left { text-align: left; }

.mb-2 { margin-bottom: 1.5rem; }

.section { padding: 3rem var(--padding-side-section); }

/* Section canvas */
.section-canvas {
    background-color: var(--purple-dark);
    background-image: url('../img/universe.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: var(--height-canvas);
}

.section-canvas__info {
    position: absolute;
    left: 0;
    right: 0;
    top: calc(var(--height-canvas)/5);
    text-align: center;
}

.section-canvas__img {
    width: 12rem;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
    -webkit-clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
    clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
}

.section-canvas__title { margin-top: 1rem; }
/* Finish section canvas */

/* Checkbox change language */
.btn-language {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 1;
    display: inline-flex;
}

.btn-language__checkbox { display: none; }

.btn-language__checkbox + label {
    padding: 0 .3rem;
    margin: 0;
    border-radius: .15rem;
    line-height: 1.5;
}

.btn-language__checkbox:checked + label, .btn-language label:hover {
    background-color: var(--white);
    cursor: pointer;
}

.btn-language__flag {
    width: 1.7rem;
    height: 1rem;
}
/* Finish chechbox language */

.section-biography {
    background-color: var(--purple-dark);
    color: var(--white);
}

.btn {
    outline: none;
    border: none;
    border-radius: .3rem;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    font-family: inherit;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.btn__social {
    display: block;
    margin: 0 auto;
    border: .08rem solid var(--white);
    background-color: var(--red-dark);
    color: var(--white);
    font-weight: bold;
    transition: all .2s;
    position: relative;
    width: 10rem;
    overflow: hidden;
}

.btn-links-inside {
    position: absolute;
    left: 0;
    top: -2rem;
    transition: top .2s linear;
}

.btn-links-inside__item {
    font-size: 1.2rem;
    padding: 0 .3rem;
    text-decoration: none;
    cursor: pointer;
}

.btn-links-inside__item:first-child { color: #24292e; }

.btn-links-inside__item:nth-child(2) { color: #1da1f2; }

.btn-links-inside__item:nth-child(3) { color: #101010; }

.btn-links-inside__item:nth-child(4) { color: #db4437; }

.btn-links-inside__item:last-child { color: #0077b5; }

.btn__social:hover, .btn__social:active, .btn__social:focus {
    background-color: var(--color-accent);
    border-color: var(--red-dark);
    box-shadow: 0 0 2rem var(--white);
}

.btn__social:hover .btn-content-hide,
.btn__social:active .btn-content-hide,
.btn__social:focus .btn-content-hide {
    transform: translateY(2rem);
    transition: transform .2s linear;
}

.btn__social:hover .btn-links-inside,
.btn__social:active .btn-links-inside,
.btn__social:focus .btn-links-inside { top: .35rem; }

.section-skill { background-color: var(--color-accent); }

.section-people {
    background-color: var(--red-dark);
    color: var(--white);
}

.container-people {
    display: grid;
    display: -ms-grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: .5rem;
}

.container-people__name {
    font-size: .9rem;
    font-weight: bold;
}

.section-footer {
    padding: 1rem 2rem;
    color: var(--purple-dark);
    background-color: var(--light);
}

/* Swatch book */
.swatch {
    position: relative;
    height: 2rem;
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: none;
    color: var(--white);
}
.swatch-item {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: .3rem;
    border: 0.1em solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.3), inset 0 6rem 6rem rgba(255, 255, 255, 0.1);
    transform-origin: 6% 45%;
    transition: .3s;
}
.swatch-item:hover {
    cursor: pointer;
    border-color: var(--white);
}
.swatch-item.active ~ .swatch-item {
    transform: rotate(-110deg) !important;
}
.mb-swatch {
    margin-bottom: 6rem;
}
.title-skill {
    margin-bottom: 7rem;
}
.swatch-item:last-of-type:after {
    content: "";
    position: absolute;
    left: 5%;
    top: 50%;
    border-radius: 50%;
    width: 1.2rem;
    height: 1.2rem;
    background: var(--white);
    margin: -.6rem 0 0 -.6rem;
    box-shadow: inset 0 1px 1px var(--white), inset 0 -0.3em 0.2em var(--color-accent), 0 0 0.6em rgba(0, 0, 0, 0.2);
}
.swatch-item:last-of-type:before {
    content: "";
    position: absolute;
    left: .4rem;
    bottom: .9rem;
    width: 1rem;
    height: .15rem;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 2;
}
/* End swatch book */

.img-people {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 94%, 58% 94%, 51% 100%, 44% 94%, 0 93%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 94%, 58% 94%, 51% 100%, 44% 94%, 0 93%);
    height: 7rem;
    border-radius: .3rem;
    margin: auto;
    display: block;
}

/* Responsive */
@media (max-width: 36rem) {
    :root { --padding-side-section: 2rem; }
    .container-people { grid-template-columns: 1fr 1fr; }
}

@media (min-width: 36.01rem) and (max-width: 48rem) {
    :root { --padding-side-section: 6rem; }
}

@media (min-width: 48.01rem) and (max-width: 62rem) {
    :root { --padding-side-section: 10rem; }
}

@media (min-width: 62.01rem) and (max-width: 75rem) {
    :root { --padding-side-section: 15rem; }
}

@media (min-width: 87.5rem) {
    :root { --padding-side-section: 25rem; }
}