.img-container {
  height: 12.5rem;
  margin-bottom: 1rem;
  overflow: hidden;
  text-align: center;
  width: 100%;
}

.img-container img {
  object-fit: contain;
}

.container {
  background-color: var(--thunder);
  border-radius: 0.25rem;
  padding: 1rem;
  transition: all var(--transition-duration) var(--transition-function);
  width: 100%;
}

.container:hover,
.container:active,
.container:focus {
  transform: scale(1.05);
}
