.container {
  --icon-movement-color: #FFF;

  align-items: center;
  background-color: var(--woodsmoke);
  display: flex;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
  padding: 1rem 2rem 0.5rem;
  position: relative;
}

.content {
  background-color: var(--woodsmoke);
  border: 0.19rem solid var(--white);
  border-radius: 0.3rem;
  max-width: 32.5rem;
  padding: 1rem 2rem;
  width: 100%;
  z-index: 1;
}

.title {
  margin-bottom: 1.88rem;
  width: 100%;
}

.list {
  list-style-type: disc;
  padding-left: 1rem;
}

.list li {
  list-style-type: disc;
  margin-bottom: 0.5rem;
}

.icon {
  position: absolute;
  user-select: none;
}

.icon path {
  fill: var(--icon-movement-color);
  transition: fill var(--quick-transition-duration) var(--transition-function);
}

@media only screen and (max-width: 40rem) {
  .list {
    padding-left: 0;
  }

  .container {
    padding: 1rem;
  }

  .content {
    border-width: 0.05rem;
  }
}

@media only screen and (max-width: 30rem) {
  .icon {
    display: none;
  }
}
