.img-container {
  background-color: var(--white);
  border: 0.0625rem solid var(--primary-text-color);
  border-radius: var(--border-radius);
  height: 12.5rem;
  margin-bottom: 0.5rem;
  position: relative;
  width: 100%;
}

.img-container img {
  object-fit: contain;
}

.container {
  background-color: var(--secondary-color);
  border-radius: var(--border-radius);
  color: var(--contrast-text-color, var(--primary-text-color));
  padding: 1rem;
  transition: transform var(--transition-duration) var(--transition-function);
  text-decoration: none;
  text-transform: capitalize;
  width: 100%;
}

.container:is(:hover, :active) {
  transform: scale(1.05);
}

.container:focus {
  outline: var(--outline);
}
