.container {
  align-items: center;
  background-color: var(--wheatfield);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 3.75rem 2rem;
}

.title {
  margin-bottom: 2.5rem;
}

.paragraph {
  margin-bottom: 5.63rem;
  max-width: 39.7rem;
  width: 100%;
}

.timeline {
  max-width: var(--content-width);
  position: relative;
  width: 100%;
}

.timeline::after {
  background: linear-gradient(180deg, var(--silver-tree) 0%, var(--bismark) 100%);
  bottom: 0;
  content: '';
  left: 50%;
  position: absolute;
  top: 0;
  width: 0.5rem;
}

.circle {
  background-color: var(--silver-tree);
  border-radius: 50%;
  height: 1.25rem;
  left: 49.5%;
  position: absolute;
  top: -0.625rem;
  width: 1.25rem;
  z-index: 1;
}

.circle:last-of-type {
  background-color: var(--bismark);
  bottom: -0.625rem;
  top: initial;
}

.item {
  display: flex;
  justify-content: flex-end;
  left: 0;
  padding: 3rem 4rem 3rem 0;
  position: relative;
  width: 50%;
}

.item:nth-of-type(odd) {
  justify-content: flex-start;
  left: 50%;
  padding: 3rem 0 3rem 4rem;
}

.card {
  background-color: var(--white);
  border-radius: 0.5rem;
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  max-width: 24.4rem;
  padding: 1rem;
  width: 100%;
}

.card::before {
  border-color: transparent transparent transparent var(--white);
  border-style: solid;
  border-width: 1rem 0 1rem 1rem;
  content: '';
  position: absolute;
  right: 3rem;
  top: 4.3rem;
}

.item:nth-of-type(odd) .card::before {
  border-color: transparent var(--white) transparent transparent;
  border-width: 1rem 1rem 1rem 0;
  left: 3rem;
  right: initial;
}

.card::after {
  align-items: center;
  background-color: var(--white);
  border: 0.2rem solid var(--wheatfield);
  border-radius: 50%;
  color: var(--tom-thumb);
  content: attr(data-year);
  display: flex;
  font-size: 1.25rem;
  font-weight: 700;
  height: 4.4rem;
  justify-content: center;
  position: absolute;
  right: -2.75rem;
  top: 3rem;
  width: 4.4rem;
  z-index: 1;
}

.item:nth-of-type(odd) .card::after {
  left: -2.19rem;
  right: initial;
}

@media only screen and (max-width: 40rem) {
  .container {
    padding: 1rem;
  }

  .paragraph,
  .title {
    margin-bottom: 2rem;
  }

  .timeline::after {
    left: 0;
  }

  .circle {
    left: -0.4rem;
  }

  .item,
  .item:nth-of-type(odd) {
    justify-content: flex-start;
    left: 0;
    padding: 1rem 1rem 1rem 1.5rem;
    right: initial;
    width: 100%;
  }

  .item .card::before,
  .item:nth-of-type(odd) .card::before {
    display: none;
  }

  .item .card::after,
  .item:nth-of-type(odd) .card::after {
    font-size: 0.9rem;
    height: 3rem;
    left: -1.1rem;
    right: initial;
    width: 3rem;
  }
}
