.container {
  min-height: 100vh;
  position: relative;
  width: 100%;
}

.cover-bg {
  object-fit: cover;
}

.header {
  display: flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  right: 0;
  top: 30vh;
  user-select: none;
  will-change: transform;
  z-index: 1;
}

.mountain {
  bottom: 0;
  left: 0;
  position: absolute;
  object-fit: cover;
  right: 0;
  z-index: 2;
}

.interaction {
  height: 40vh;
  left: 0;
  position: absolute;
  right: 0;
  top: 100%;
}

@media only screen and (max-width: 30rem) {
  .header {
    top: 7vh;
  }
}
