.container {
  background-color: var(--madison);
}

.card-container {
  display: grid;
  gap: 2.5rem;
  grid-template-columns: repeat(auto-fill, minmax(20.63rem, 1fr));
  margin: 0 auto;
  margin-bottom: 2.5rem;
  max-width: var(--content-width);
  width: 100%;
}

@media only screen and (max-width: 40rem) {
  .card-container {
    gap: 1rem;
  }
}
