.title {
  margin-bottom: 1rem;
}

.paragraph {
  margin-bottom: 1rem;
}

.img {
  border: 0.01rem solid var(--cod-gray);
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  width: 100%;
}

.link {
  background: linear-gradient(90deg, var(--silver-tree) 0%, var(--tom-thumb) 100%);
  border-radius: 0.5rem;
  padding: 1rem;
  transition: transform var(--transition-duration) var(--transition-function);
  width: 10.6rem;
}

.link:hover,
.link:active,
.link:focus {
  color: var(--white);
  text-decoration: underline;
  transform: scale(0.98);
}
