:root {
  /* Theme colors */
  --primary-text-color: #001E1D;
  --primary-color: #004643;
  --highlight-color: #E16162;
  --secondary-color: #ABD1C6;
  --secondary-highlight-color: #F9BC60;
  --secondary-light-color: #F2F7F5;
  --tertiary-color: #08232B;
  --gradient-start-color: #D6E598;
  --gradient-end-color: #1B9162;
  /* End theme colors */

  --ceramic: #FFFEFA;
  --white: #FFFFFE;
  --gray: #E8E4E6;

  --quick-transition-duration: 200ms;
  --transition-duration: 290ms;
  --transition-function: cubic-bezier(0.79, 0.01, 0.38, 0.99);
  --max-width: 75rem;
  --border-radius: 0.1875rem;
  --outline: 0.1rem solid var(--highlight-color);
  --separation-padding-y: 3.75rem;
}

/* @media (prefers-color-scheme: dark) {
  :root {
  }

  html {
    color-scheme: dark;
  }
} */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: var(--ceramic);
  color: var(--primary-text-color);
  max-width: 100vw;
  min-height: 100vh;
}

/* Start style guide */
.heading-1 {
  font-family: var(--font-chubbo);
  font-size: 3rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.heading-2 {
  font-family: var(--font-chubbo);
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.heading-3 {
  font-family: var(--font-chubbo);
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.heading-4 {
  font-family: var(--font-chubbo);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.base-text {
  font-family: var(--font-gambetta);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.highlighted-text,
.link-text,
strong {
  font-family: var(--font-gambetta);
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.small-text {
  font-family: var(--font-gambetta);
  font-size: 0.85rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.fw-bold {
  font-weight: 700;
}

.text-center {
  text-align: center;
}

.white {
  color: var(--white);
}

.link-text {
  color: var(--highlight-color);
  text-decoration: underline;
  transform: color var(--transition-duration) var(--transition-function);
}

.link-text:hover {
  color: var(--primary-color);
}

.link-text:focus {
  outline: var(--outline);
}

strong {
  font-size: inherit;
}

button {
  background: none;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  padding: 0.8rem 2.5rem;
  transition: all var(--transition-duration) var(--transition-function);
}

button:focus {
  outline: var(--outline);
}
/* Finish style guide */
