.nav {
  backdrop-filter: blur(5px);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.30);
  display: flex;
  left: 0;
  min-height: 5.625rem;
  padding: 1rem;
  position: fixed;
  right: 0;
  top: 0;
  transition: translate var(--quick-transition-duration) var(--transition-function);
  translate: 0 -100%;
  z-index: 3;
}

.static {
  background-color: var(--white);
  translate: 0;
}

.nav-content {
  align-items: center;
  display: flex;
  gap: 1rem;
  max-width: var(--max-width);
  margin: 0 auto;
  width: 100%;
}

.nav-links {
  display: flex;
  flex: 1;
  gap: 1.5rem;
}

.link {
  background-color: transparent;
  border-radius: var(--border-radius);
  color: var(--primary-color);
  padding: 0.5rem;
  text-decoration: none;
  transition: all var(--quick-transition-duration) var(--transition-function);
}

.link:hover,
.link.active {
  background-color: var(--primary-color);
  color: var(--white);
}

.link:focus,
.accordion-button:focus {
  outline: var(--outline);
}

.accordion-button {
  align-items: center;
  background-color: transparent;
  border: none;
  border-radius: var(--border-radius);
  color: var(--primary-color);
  cursor: pointer;
  display: flex;
  padding: 0.5rem;
  transition: background-color var(--quick-transition-duration) var(--transition-function);
}

.accordion-button:hover {
  background-color: var(--secondary-light-color);
}

.accordion-button svg {
  height: 1.5rem;
  fill: var(--primary-color);
  transition: transform var(--quick-transition-duration) var(--transition-function);
  width: 1.5rem;
}
