.container {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  padding: 3.13rem 1rem;
}

.content {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1rem;
}

.inner-content {
  align-items: center;
  display: grid;
  grid-gap: 6.5rem;
  grid-template-columns: minmax(13.9rem, 21.9rem) minmax(22rem, 30rem);
}

.title {
  margin-bottom: 3rem;
}

.img {
  border-radius: 0.2rem;
  width: 100%;
}

.subtitle {
  margin-bottom: 1.38rem;
}

@media only screen and (max-width: 44rem) {
  .container {
    padding: 1rem;
  }

  .title {
    margin-bottom: 1rem;
  }

  .inner-content {
    grid-gap: 1rem;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .img {
    max-width: 20rem;
  }

  .subtitle {
    margin-bottom: 0.8rem;
  }
}
