.title {
  color: var(--cod-gray);
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.1;
}

.small-title {
  color: var(--cod-gray);
  font-size: 2.25rem;
  font-weight: 400;
  line-height: 1.17;
}

.big-text {
  color: var(--cod-gray);
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.17;
}

.base-text {
  color: var(--cod-gray);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.1;
}

.small-text {
  color: var(--cod-gray);
  font-size: 0.85rem;
  font-weight: 300;
  line-height: 1.1;
}

.fw-bold {
  font-weight: 700;
}

.fw-thin {
  font-weight: 300;
}

.text-center {
  text-align: center;
}

@media screen and (max-width: 40rem) {
  .title {
    font-size: 2.5rem;
  }

  .small-title {
    font-size: 1.9rem;
  }

  .big-text {
    font-size: 1.15rem;
  }
}
