:root {
  --content-width: 75rem;
  --quick-transition-duration: 200ms;
  --transition-duration: 290ms;
  --transition-function: cubic-bezier(0.79, 0.01, 0.38, 0.99);
}

/* Colors */
:root {
  --bismark: #3F627B;
  --cod-gray: #191919;
  --skeptica: #C9E5D9;
  --white: #FFF;
  --wild-sand: #F5F5F5;
  --woodsmoke: #171D1D;
}
