.container {
  background: var(--wild-sand) url('../../assets/medellin_3.png') no-repeat center / cover;
  min-height: 100vh;
  position: relative;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 37vh;
  transform: translate3d(0, 50%, 0);
  user-select: none;
  width: fit-content;
  will-change: transform;
}

.parallax {
  background: no-repeat center / cover;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.tree {
  background-image: url('../../assets/medellin_1.png');
  z-index: 2;
}

.mountain {
  background-image: url('../../assets/medellin_2.png');
  z-index: 1;
}

.interaction {
  height: 40vh;
  left: 0;
  position: absolute;
  right: 0;
  top: 100%;
}
