.section {
  align-items: center;
  background-color: var(--tertiary-color);
  display: flex;
  flex-direction: column;
  gap: 2.69rem;
  min-height: 100vh;
  padding: var(--separation-padding-y) 1rem;
}

.paragraph {
  max-width: 34.6875rem;
  width: 100%;
}

.link-button {
  align-items: center;
  background-color: var(--primary-color);
  color: var(--white);
  display: flex;
  text-decoration: none;
}

.link-button:is(:hover, :active) {
  background-color: var(--white);
  color: var(--primary-color);
}

.link-button:is(:hover, :active) svg path {
  fill: var(--primary-color);
}

.link-button:active {
  transform: scale(0.95);
}

.link-button svg {
  height: 1.5rem;
  margin-left: 0.63rem;
  width: 1.5rem;
}

.link-button svg path {
  fill: var(--white);
  transition: fill var(--transition-duration) var(--transition-function);
}

@media only screen and (max-width: 40rem) {
  .section {
    gap: 1.5rem;
    padding: 1rem;
  }
}
