@import './css/normalize.css';
@import './css/font.css';
@import './css/typography.css';
@import './css/variables.css';

* {
  font-family: 'Rubik', 'Helvetica Neue', sans-serif;
}

body {
  background-color: var(--wild-sand);
  font-family: 'Rubik', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-content {
  display: flex;
  flex-direction: column;
}
