@import "./normalize.css";
@import "./font.css";
@import "./typography.css";
@import "./variables.css";

* {
  font-family: "Rubik", "Helvetica Neue", sans-serif;
}

body {
  background-color: var(--wild-sand);
  font-family: "Rubik", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

strong {
  font-weight: 700;
}

.main-content {
  display: flex;
  flex-direction: column;
}
